
@font-face {
  font-family: "ProximaNova-Medium";
  src: url("fonts/ProximaNova-Medium.ttf");
}

@font-face {
  font-family: "ProximaNova-Bold";
  src: url("fonts/ProximaNova-Bold.ttf");
}

html {
  font-family: "ProximaNova-Medium", "Arial", sans-serif;
  color: white;
}

body {
  font-family: "ProximaNova-Medium", "Arial", sans-serif;
  font-size: 14pt;
  background-color: #040404;
  color: #909090;
  margin: 0;
}

a {
  color: white !important;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline;
}

h1, h2, h3, h4 {
  font-family: "ProximaNova-Bold";
  color: white;
}

hr {
  border-color: #282828;
}

table {
  border-collapse: collapse;
}

table, td {
  background-color: #040404 !important;
  color: #909090 !important;
  border-bottom: 1px solid transparent;
}

th {
  border-bottom: 1px solid #282828 !important;
}

div .inline {
  float: left;
  margin-right: 5px;
  height: 26px;
  width: auto;
}

div .side {
  display:inline-block;
  vertical-align:20px;
  padding-left:15px;
  color: white;
  font-size:12pt;
}

audio {
  background-color: #040404;
}

.tooltip {
  opacity: 100% !important; 
}

.tooltip-inner {
  background-color:gray;
  color:white;
  text-align: left;
  max-width: 100%;
  font-size: 12pt;
  border-radius: 0px !important;
}

.selectize-input {
  background-color: #282828 !important;
  border: none !important;
  box-shadow: none !important;
  color: white;
  font-size: 12pt;
  padding: 4px 10px;
  min-height: 0px;
  height: 26px;
}

.selectize-input div.item + input {
  display: inline-block;
}

.selectize-dropdown {
  background-color: #282828;
  color: white;
}

.selectize-dropdown-content {
  max-height: 400px;
  font-size: 10pt;
}

.selectize-dropdown-content .active {
  background-color: #535353;
  color: white;
}

.selectize-control.single .selectize-input:after {
  border: none;
  content: '\e252';
  font-family: "Glyphicons Halflings";
  color: white;
  display: block;
  position: absolute;
  top: 8px;
  right: 26px;
}

.selectize-control.single .selectize-input.dropdown-active:after {
  border: none;
  content: '\e253';
  font-family: "Glyphicons Halflings";
  color: white;
  display: block;
  position: absolute;
  top: 10px;
  right: 26px;
}